@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

$montserrat: 'Montserrat', sans-serif;
$oswald: 'Oswald', sans-serif;

$yellow: #FBB615;
$light-yellow: #f1d593;
$black: rgb(28, 28, 31);
$red: #d64000;
$white: white;
